//- html
//-  head
//-  body
//-   form(action="/", method="post")
//-    input(type="text", name="task", placeholder="Write your task")
//-    input(type="submit", value="ADD")

//-    h3 List-Todo
//-    ul
//-     each task in tasks
//-       li=task.text 
//-         a(href=`/done/${task.id}`) ✅